@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

* {
    user-select: none;
    margin: 0;
    padding: 0;
}
body {
    position: relative;

    min-width: 100%;
    min-height: 100vh;

    background-color: rgba(7, 7, 7);
    color: rgba(200, 200, 200);

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Roboto Mono", monospace;

    overflow: hidden;
}

a {
    display: block;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    text-decoration: none !important;
    color: inherit;
}

.main-container {
    width: 40%;
    height: 30vh;

    border: 0.5px solid rgba(150, 150, 150);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: rgba(10, 10, 10);
    box-shadow: none;

    transition: 0.5s ease-in-out;
}

.main-container:hover {
    box-shadow: rgba(7, 7, 7) 0px 0px 0px 19px,
        rgb(125, 125, 125) 0px 0px 0px 20px, rgba(7, 7, 7) 0px 0px 0px 39px,
        rgb(100, 100, 100) 0px 0px 0px 40px, rgba(7, 7, 7) 0px 0px 0px 59px,
        rgb(75, 75, 75) 0px 0px 0px 60px, rgba(7, 7, 7) 0px 0px 0px 79px,
        rgb(50, 50, 50) 0px 0px 0px 80px, rgba(7, 7, 7) 0px 0px 0px 99px,
        rgb(25, 25, 25) 0px 0px 0px 100px;
}

.hero-text {
    width: 100%;
    height: 60%;

    display: grid;
    justify-content: center;
    align-content: center;

    font-size: 4.2vw;
}

.btn-container {
    width: 100%;
    height: 40%;

    display: grid;
    grid-auto-flow: column;

    overflow: hidden;
}

button {
    background-color: rgba(15, 15, 15, 0);
    color: rgba(200, 200, 200);

    font-family: "Roboto Mono", monospace;

    transition: 0.2s ease-out;
    font-size: 1.5vw;

    border: 0.5px solid rgba(150, 150, 150);
    border-bottom: none;
}

button:hover {
    background-color: rgba(30, 30, 30);
    transform: translateY(0.3rem);
}

.footer-text {
    position: absolute;
    bottom: 2rem;

    color: rgba(75, 75, 75);
}

@media screen and (max-width: 1000px) {
    .main-container {
        width: 60%;
        height: 60vh;

        animation: outlien_anim 12s infinite;
    }

    .hero-text {
        font-size: 6vw;
    }

    .btn-container {
        grid-auto-flow: row;
    }

    button {
        font-size: 2vw;
    }
}

@keyframes outlien_anim {
    0% {
        box-shadow: none;
    }
    25% {
        box-shadow: rgba(7, 7, 7) 0px 0px 0px 19px,
            rgb(125, 125, 125) 0px 0px 0px 20px, rgba(7, 7, 7) 0px 0px 0px 39px,
            rgb(100, 100, 100) 0px 0px 0px 40px, rgba(7, 7, 7) 0px 0px 0px 59px,
            rgb(75, 75, 75) 0px 0px 0px 60px, rgba(7, 7, 7) 0px 0px 0px 79px,
            rgb(50, 50, 50) 0px 0px 0px 80px, rgba(7, 7, 7) 0px 0px 0px 99px,
            rgb(25, 25, 25) 0px 0px 0px 100px;
    }
    50% {
        box-shadow: rgba(7, 7, 7) 0px 0px 0px 19px,
            rgb(125, 125, 125) 0px 0px 0px 20px, rgba(7, 7, 7) 0px 0px 0px 39px,
            rgb(100, 100, 100) 0px 0px 0px 40px, rgba(7, 7, 7) 0px 0px 0px 59px,
            rgb(75, 75, 75) 0px 0px 0px 60px, rgba(7, 7, 7) 0px 0px 0px 79px,
            rgb(50, 50, 50) 0px 0px 0px 80px, rgba(7, 7, 7) 0px 0px 0px 99px,
            rgb(25, 25, 25) 0px 0px 0px 100px;
    }
    75% {
        box-shadow: rgba(7, 7, 7) 0px 0px 0px 19px,
            rgb(125, 125, 125) 0px 0px 0px 20px, rgba(7, 7, 7) 0px 0px 0px 39px,
            rgb(100, 100, 100) 0px 0px 0px 40px, rgba(7, 7, 7) 0px 0px 0px 59px,
            rgb(75, 75, 75) 0px 0px 0px 60px, rgba(7, 7, 7) 0px 0px 0px 79px,
            rgb(50, 50, 50) 0px 0px 0px 80px, rgba(7, 7, 7) 0px 0px 0px 99px,
            rgb(25, 25, 25) 0px 0px 0px 100px;
    }
    100% {
        box-shadow: none;
    }
}
